<%-include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">
        Find blogs you are looking for...
    </div>
    <div class="ui top attached ">
        <div class="ui divided items">
            <%blogs.forEach((blog)=>{%>
                <div class="item">
                    <div class="image">
                        <img class="ui image" src="<%=blog.image%>" alt="img">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%=blog._id%>"> <%=blog.title%> </a>
                        <div class="meta">
                            <span> <%= blog.created.toDateString()%></span>
                        </div>
                        <div class="description">
                            <p><%-blog.body.substring(0,100)%>  ...</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated violet button" href="/blogs/<%=blog._id%>">
                                 Read More
                                 <i class="right chevron icon"></i> 
                            </a>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
</div>


<%-include("partials/footer")%>