<%-include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">Blog list</div>
</div>

<%blogs.forEach((blog)=>{%>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>" alt="img">
        <span><%= blog.created%></span>
        <p><%=blog.body%></p>

    </div>
<%})%>
<%-include("partials/footer")%>